html {

    margin: auto;
    width: 1280px;
}

body {
    background: url(../img/background.png) no-repeat center top/cover;
    /*width: 100%;*/
    margin-left: auto;
}


.name {
    font-family: Verdana, sans-serif,Serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    display: inline-block;
    margin-top: 15px;
    margin-left: 151px;
}


.name:hover{
    color: #3cb878;
    transition: 0.3s;
}

.name h1 {
    margin-left: 15px;
}

.header-text {
    font-family: sans-serif;
    color: #ffffff;
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
}

.header-text a:hover{
    text-decoration: underline #389a67;
}

.header-text a {
    color: #389a67;
    text-decoration: none;
}

.header-text p {
    margin-top: 5px;
}

header {
    background-color: rgba(0%, 0%, 0%, 0.3);
    height: 50px;
    width: 100%;
    margin-bottom: 65px;
}

.icons_top {

    margin-top: auto;
    margin-left: 580px;
    display: inline;
    height: 100px;
    width: 100%;
}

.icons_top:after {
    color: #302e30;
    content: "|";
    font-size: xx-large;
}

.bg-ic_calendar {
    z-index: 1;
    margin-right: 15px;
    width: 19px;
    height: 19px;
    background: url('../img/css_sprites.png') -10px -50px;
}

.bg-ic_calendar:hover{
    transition: 0.3s;
    width: 19px; height: 19px;
    background: url('../img/css_sprites_hover.png') -10px -50px;
}

.bg-ic_forum {
    z-index: 1;
    margin-right: 15px;
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -10px;
}

.bg-ic_forum:hover {
    transition: 0.3s;
    width: 28px; height: 20px;
    background: url('../img/css_sprites_hover.png') -10px -10px;
}

.bg-ic_journey {
    z-index: 1;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -58px -10px;
}

.bg-ic_journey:hover {
    transition: 0.3s;
    width: 20px; height: 20px;
    background: url('../img/css_sprites_hover.png') -58px -10px;
}

.sing_up_form {
    font-family: sans-serif;
    border-radius: 10px;
    border: 1px #ffffff;
    width: 420px;
    height: 584px;
    margin: auto;
    background-color: #ffffff;
}

.sing_up_form h2 {
    display: inline-block;
    font-size: larger;
    margin-left: 28px;
    padding-top: 29px;
    margin-bottom: 15px;
}

.sing_up_form a {
    display: inline-block;
    text-decoration: none;
}

.log_in-in_form {
    margin-left: 200px;
    color: #389a67;
    text-decoration: none;
}

.login-for-hover:hover{
    text-decoration: underline #389a67;
}

.green-box {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}

.hl-or {
    padding-top: 10px;
    text-align: center;
}

/*.hr-line-1{*/
    /*width: 135px;*/
    /*height: 1px;*/
    /*border: 0.5px solid black;*/
    /*opacity: 0.3;*/
    /*height: 1px;*/
/*}*/

.fb-button {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    border-radius: 5px;
    padding-top: 12px;
    color: #ffffff;
    background-color: #305db8;
    width: 150px;
    height: 30px;
    display: inline-block;
}

.fb-button:before {
    padding-left: 10px;
    margin-right: 10px;
    content: "f";
}

.google-button {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    border-radius: 5px;
    padding-top: 12px;
    display: inline-block;
    color: #ffffff;
    background-color: #df4a32;
    width: 150px;
    height: 30px;
    margin-left: 15px;
}

.google-button:before {
    padding-left: 10px;
    margin-right: 10px;
    content: "G+";
}

.fb-and-google-buttons {
    text-align: center;
}

.inputs input {
    border-radius: 5px;
    border: #f0f0f0 solid 2px;
    padding-left: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 17px;
    width: 322px;
    height: 46px;
}

.checkbox {
    display: inline-block;
}

.text-after-check{
    display: inline-block;
}

.text-after-check a:hover{
    text-decoration: underline #389a67;
}

.create-button {
    border-radius: 5px;
    text-align: center;
    width: 322px;
    height: 30px;
    padding-top: 10px;
    background-color: #3cb878;
    color: #ffffff;
    font-family: Verdana,sans-serif,Serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

.button-down{
    color: #389a67;
    position: relative;
    float: left;
    clear: both;
    top: 28px;
    left: 55px;
}



.first-name-field:active{
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    background-color: #ffffff;
}

.last-name-field:active{
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    background-color: #ffffff;
}

.email-field:active{
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    background-color: #ffffff;
}

.password-filed:active{
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    background-color: #ffffff;
}

.conf-password-field:active{
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    background-color: #ffffff;
}

.after-inputs{
    margin-left: 35px;
    margin-top: 10px;
}

.after-inputs a{
    color: #389a67;
}

.vertical-line{
    background-color: black;
    border: 0.5px solid black;
    margin-right: 11px;
    width: 1px;
    height: 28px;
    opacity: 0.2;
    z-index: 2;
}